apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
type: Opaque
stringData:
  mongo_user: "mongo"
  mongo_password: "flight"
  api_url: "https://airlabs.co/api/v9/flights?api_key=ff090b3e-09ef-476c-939f-70d276978db3"
  secret_key: "2934b34a8c6c51280821097c55658e4967bf8673a626471d75d28b0771cbb16058a23c1d6bd24c4ce376d21d4064f767475c4df7d4b07c2186dd8ac4dd5be6ca"

