apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: flight-dashboard-ingress
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
spec:
  ingressClassName: webapprouting.kubernetes.azure.com 
  rules:
    - host: flight-dashboard.nip.io
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 8080
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 3000
  tls:
    - hosts:
      - flight-dashboard.nip.io
      secretName: ingress-local-tls
