backend/node_modules
backend/.env
backend/Dockerfile
backend/*.mjs
backend/npm-debug.log
frontend/img.jpg
frontend/user.png
frontend/.stylelintrc.json
.env
elasticsearch/Dockerfile
backend/producer_app.py
backend/tests/jest-junit.xml
