  workflow:
      name: Real Time Fligh Dashboard Pipeline
      rules:
          - if: $CI_COMMIT_BRANCH == 'main' || $CI_COMMIT_BRANCH == "feature"
            when: always
          - if: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME == 'feature' && $CI_PIPELINE_SOURCE == 'merge_request_event'
            when: always

  stages:
    - lint
    - test
    # - containerization
    # - dev-deploy
    # - stage-deploy
    # - prod-deploy
    # - post-deploy

  # include:
  #   - template: Jobs/SAST.gitlab-ci.yml
  #   - component: gitlab.com/gitlab-components/secret-detection/secret-detection@1.0
  #   - template: Security/Container-Scanning.gitlab-ci.yml

  variables:
    DOCKER_DRIVER: overlay2
    IMAGE_VERSION: $CI_PIPELINE_ID
    GITLAB_ADVANCED_SAST_ENABLED: 'true'

  # Define a reusable job template for preparing Node.js environment with MongoDB.
  .prepare_nodejs_environment:
    image: node:18.18.0-alpine3.18
    services:
      - name: mongo:latest
        alias: mongo
        pull_policy: always
    variables:
      MONGO_BASE_URI: 'mongodb://mongo:27017'
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
      DB_Test_NAME: Dashboard-Auth

    cache:
      policy: pull-push
      when: on_success
      paths: 
        - backend/node_modules/
      key:
        files:
          - backend/package-lock.json
        prefix: node_modules
    before_script:
      - cd backend
      - npm install


  # sast:
  #   stage: .pre

  # secret_detection:
  #   stage: .pre
  #   variables:
  #     SECRET_DETECTION_HISTORIC_SCAN: "false"
  #   rules:
  #     - if: $CI_COMMIT_BRANCH == "feature"
  #       when: always
  #     - if: $CI_COMMIT_BRANCH == "main"
  #       when: never

  lint-backend:
    stage: lint
    extends: .prepare_nodejs_environment
    script:
      - eslint "**/*.js" > eslint.txt || true
    artifacts:
      paths:
        - lint/eslint.txt
      when: always


  lint-frontend:
    stage: lint
    extends: .prepare_nodejs_environment
    script:
      - htmlhint ../frontend/**/*.html > htmlhint.txt || true
      - stylelint ../frontend/**/*.css > stylelint.txt || true
    artifacts:
      paths:
        - lint/stylelint.txt
        - lint/htmlhint.txt
      when: always


  lint-python:
    stage: lint
    image: python:3.11-slim
    cache:
      key: ${CI_JOB_NAME}
      paths:
        - .cache/pip/
    before_script:
      - pip install --cache-dir=.cache/pip flake8
    script:
      - flake8 spark/spark_stream.py > lint/spark-lint.txt || true 
      - flake8 kafka/producer_app.py > lint/kafka-producer-lint.txt || true
      - flake8 kafka/consumer.py > lint/kafka-consumer-lint.txt || true
      - flake8 elasticsearch/create_index_elastic.py > lint/elasticsearch-lint.txt || true
    artifacts:
      paths:
        - lint/spark-lint.txt 
        - lint/kafka-producer-lint.txt
        - lint/kafka-consumer-lint.txt
        - lint/elasticsearch-lint.txt
      when: always


  
 #Job to install dependencies and run tests
  # test_backend:
  #   extends: .prepare_nodejs_environment
  #   stage: test
  #   script:
  #     - npm run test             # Run tests if MongoDB connection is successful
  #   artifacts:
  #     paths:
  #       - backend/test-reports/jest-junit.xml
  #     when: always
  #     expire_in: 3 days
  #     reports:
  #       junit: backend/test-reports/jest-junit.xml

  