fetched_data.json
producer.py
elasticsearch\elasticsearch_data
data_eng
backend/.env
backend/node_modules
backend/response.json
.env
.vscode
kafka/.env
web
kafka/.env
node_modules
Jenkinsfile
tests/__pycache__/
kafka/__pycache__
spark/__pycache__
spark/.env
docker-compose-local.yml
integration_test_local.py