  workflow:
      name: Real Time Fligh Dashboard Pipeline
      rules:
          - if: $CI_COMMIT_BRANCH == 'main' || $CI_COMMIT_BRANCH == "feature"
            when: always
          - if: $CI_MERGE_REQUEST_SOURCE_BRANCH_NAME == 'feature' && $CI_PIPELINE_SOURCE == 'merge_request_event'
            when: always

  stages:
    - lint
    - test
    - build_and_test_and_push
    # - containerization
    # - dev-deploy
    # - stage-deploy
    # - prod-deploy
    # - post-deploy

  include:
    # - template: Jobs/SAST.gitlab-ci.yml
    # - component: gitlab.com/gitlab-components/secret-detection/secret-detection@1.0
    # - template: Security/Container-Scanning.gitlab-ci.yml

  variables:
    IMAGE_VERSION: $CI_PIPELINE_ID
    GITLAB_ADVANCED_SAST_ENABLED: 'true'

  # Define a reusable job template for preparing Node.js environment with MongoDB.
  .prepare_nodejs_environment:
    image: node:18.18.0-alpine3.18
    cache:
      policy: pull-push
      when: on_success
      paths: 
        - backend/node_modules/
      key:
        files:
          - backend/package-lock.json
        prefix: node_modules
    before_script:
      - cd backend
      - npm install


  # sast:
  #   stage: .pre

  # secret_detection:
  #   stage: .pre
  #   variables:
  #     SECRET_DETECTION_HISTORIC_SCAN: "false"
  #   rules:
  #     - if: $CI_COMMIT_BRANCH == "feature"
  #       when: never
  #     - if: $CI_COMMIT_BRANCH == "main"
  #       when: always

  # lint-backend:
  #   stage: lint
  #   extends: .prepare_nodejs_environment
  #   script:
  #     - npx eslint "**/*.js" > ../eslint.txt || true
  #   artifacts:
  #     paths:
  #       - eslint.txt
  #     when: always

  # lint-frontend:
  #   stage: lint
  #   extends: .prepare_nodejs_environment
  #   script:
  #     - npx htmlhint ../frontend/**/*.html > ../htmlhint.txt || true
  #     - npx stylelint ../frontend/**/*.css > ../stylelint.txt || true
  #   artifacts:
  #     paths:
  #       - htmlhint.txt
  #       - stylelint.txt

  #     when: always

  # lint-python:
  #   stage: lint
  #   image: python:3.11-slim
  #   cache:
  #     key: ${CI_JOB_NAME}
  #     paths:
  #       - .cache/pip/
  #   before_script:
  #     - python3 -m venv python_env
  #     - python_env/bin/pip install --cache-dir=.cache/pip flake8
  #   script:
  #     - python_env/bin/flake8  spark/spark_stream.py > spark-lint.txt || true 
  #     - python_env/bin/flake8  kafka/producer_app.py > kafka-producer-lint.txt || true
  #     - python_env/bin/flake8  kafka/consumer.py > kafka-consumer-lint.txt || true
  #     - python_env/bin/flake8  elasticsearch/create_index_elastic.py > elasticsearch-lint.txt || true
  #   artifacts:
  #     paths:
  #       - spark-lint.txt 
  #       - kafka-producer-lint.txt
  #       - kafka-consumer-lint.txt
  #       - elasticsearch-lint.txt
  #     when: always


  # unit-test-backend:
  #   extends: .prepare_nodejs_environment
  #   stage: test
  #   script:
  #     - npm run test:unit      
  #   artifacts:
  #     paths:
  #       - backend/tests/test-reports/jest-junit.xml
  #     when: always
  #     expire_in: 3 days
  #     reports:
  #       junit: backend/tests/test-reports/jest-junit.xml

  # unit-test_kafka:
  #   stage: test
  #   image: python:3.11-slim
  #   cache:
  #     key: ${CI_JOB_NAME}
  #     paths:
  #       - .cache/pip/
  #   before_script:
  #     - python3 -m venv python_env
  #     - python_env/bin/pip install --cache-dir=.cache/pip requests confluent_kafka python-dotenv pytest pytest-mock requests-mock
  #   script:
  #     - python_env/bin/pytest tests/test_producer_app.py 
  #   # artifacts:
  #   #   paths:
  #   #     - kafka-test-results.txt
  #   #   when: always
  
  # unit-test_spark:
  #   stage: test
  #   image: bitnami/spark:latest
  #   cache:
  #     key: ${CI_JOB_NAME}
  #     paths:
  #       - .cache/pip/
  #   before_script:
  #     - python3 -m venv python_env
  #     - python_env/bin/pip install --cache-dir=.cache/pip pytest
  #   script:
  #     - python_env/bin/pytest tests/test_spark_logic.py

  # unit-test_elasticsearch:
  #   stage: test
  #   image: python:3.11-slim
  #   cache:
  #     key: ${CI_JOB_NAME}
  #     paths:
  #       - .cache/pip/
  #   before_script:
  #     - python3 -m venv python_env
  #     - python_env/bin/pip install --cache-dir=.cache/pip pytest
  #   script:
  #     - python_env/bin/pytest tests/test_create_es_index.py
  #   # artifacts:
  #   #   paths:
  #   #     - elasticsearch-test-results.txt
  #   #   when: always

  service-backend-test:
    extends: .prepare_nodejs_environment
    stage: test
    # needs: unit-test-backend
    services:
      - name: mongo:latest
        alias: mongo
        pull_policy: always
    variables:
      MONGO_TEST_URI: 'mongodb://mongo:27017/auth_test_db?authSource=admin'
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
      MONGO_USER: $MONGO_INITDB_ROOT_USERNAME
      MONGO_PASSWORD: $MONGO_INITDB_ROOT_PASSWORD
    script:
      - npm run test:service      
    artifacts:
      paths:
        - backend/tests/service_test/jest-junit.xml
      when: always
      expire_in: 3 days
      reports:
        junit: backend/tests/service_test/jest-junit.xml

  compose_ci:
    stage: build_and_test_and_push
    image: docker:27.4.1
    dependencies: []
    services:
      - docker:27.4.1-dind 
    variables:
      DOCKER_HOST: tcp://docker:2376
      DOCKER_TLS_CERTDIR: "/certs"
      DOCKER_BUILDKIT: 1
      COMPOSE_DOCKER_CLI_BUILD: 1
      MONGO_INITDB_ROOT_USERNAME: mongo
      MONGO_INITDB_ROOT_PASSWORD: $MONGO_PASSWORD
      MONGO_URI: 'mongodb://mongo:27017/auth_db?authSource=admin'
      API_URL: $API_URL
      SECRET_KEY: $SECRET_KEY
      BACKEND_API_BASE: 'http://localhost:3000'
      PORT: 3000
    cache:
      key: ${CI_JOB_NAME}
      paths:
         - .cache/pip/
    before_script:
      - apk add --no-cache python3 py3-pip curl
      - python3 -m venv python_env
      - python_env/bin/pip install --cache-dir=.cache/pip  requests  
      - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    script:
      - export DOCKER_BUILDKIT=1
      - export COMPOSE_DOCKER_CLI_BUILD=1
      - docker compose pull || true   # Pull for cache
      # - docker compose build 
      - docker compose up -d
      - chmod +x wait-for-services.sh
      - ./wait-for-services.sh
      - RESPONSE=$(curl http://docker:9090 )
      - echo $RESPONSE 
      - docker logs spark-job-submit
      - python_env/bin/python3 integration_test.py
      # - docker compose ps
      # - docker compose down
      # - docker compose push
        
    